<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Proficiency Test", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Início", root_path %></li>
        <li><%= link_to "Estudante", students_path %></li>
        <li><%= link_to "Curso", courses_path %></li>
        <li><%= link_to "Sala de aula", classrooms_path %></li>
      </ul>
    </nav>
  </div>
</header>
